sphinx!=1.6.6,!=1.6.7,>=1.6.2,!=2.1.0 # BSD
openstackdocstheme>=1.11.0 # Apache-2.0
reno>=1.8.0 # Apache-2.0

# Install dependencies for tooz so that autodoc works.
python-consul>=0.4.7 # MIT License
sysv-ipc>=0.6.8 # BSD License
zake>=0.1.6 # Apache-2.0
redis>=2.10.0 # MIT
psycopg2>=2.5 # LGPL/ZPL
PyMySQL>=0.6.2 # MIT License
pymemcache!=1.3.0,>=1.2.9 # Apache 2.0 License
etcd3>=0.6.2 # Apache-2.0
etcd3gw>=0.1.0 # Apache-2.0
